.section--dark .component__button--3 {
    background-color: #156fbf;
}
.section--dark .component__button--3::before {
    border: 1px solid #156fbf;
}

/**** MOBILE MENU ****/
.x21-mobile-controls, .x21-mobile-controls > button, .mm-menu {
	background:#156fbf;
}

/**** HEADER ****/
.navigation-a .navigation__item--link {
    color:#000;
    font-size:1.2rem;
    padding:0.7rem 1.2rem;
}

#id_98454e45-5700-5c5a-a13a-ebf3c3fa66e0::before {
    border-bottom:4px solid #f9f9f9;
}

/**** FORMAT ****/

b, strong {
    color:#0c669a;
}

.section--light .editable__container h2, .section--light .editable__container h3 {
    color:#156fbf;
}

#id_03f09ef8-8b59-5c59-b55d-5fa2bf51026e::before {
    border-top:2px solid #156fbf;
}

/**** CUSTOM ****/
.bar-graph {
    background:#156fbf;
    height:30px;
    margin-bottom:30px!important;
    color:#fff!important;
    text-align:right;
}

.highlight {
    padding:10px;
    background:#156fbf;
}

.highlight p {
    color:#fff!important;
}

.heading {
    color:#000!important;
    text-align:center;
    font-size:1.2rem;
    font-weight:normal!important;
    padding:40px 5px;
    border:1px solid #156fbf;
    margin-bottom:40px!important;
}

.custombtn {
    width:500px;
    padding:10px 5px;
    text-align:center;
    border:1px solid #156fbf;
    margin:0 auto 10px;
    font-size:20px;
    color:#156fbf;
}

.custombtn:hover {
    color:#fff!important;    
    background:#156fbf;
}

/*****/

.testimonial-grid__image {
    margin: 0 auto;
}

.custombuttom a{
    color: #000000 !important;
    text-decoration: none;
    background-color: transparent;
    padding: 0.9375rem;
    font-family: "Lato-Bold", sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.2;
    text-transform: uppercase;
    border-radius: 0;
    text-align: center;
    border: 1px solid #000 !important;
    margin: 50px auto;
}

.custombuttom a:hover{
    color: #fff !important;
    background-color: #000 !important;
}

.custombuttom {
    text-align: center;
    max-width: 350px;
    margin: 40px auto;
}

.section-group {
	clear: both;
	padding: 0px;
	margin: 0px;
}


.col-group {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col-group:first-child { margin-left: 0; }d


.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1;  }

.span_1_of_4 { width: 23%;}
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 49%; }
.span_1_of_3 { width: 32.26%; }

@media(min-width:992px) {
    /**** SLIDER ****/
    .banner-c__title.component__title.banner-text__title--large.text-center {
        padding-top:320px!important;
    }
}

@media only screen and (max-width: 480px) {
	.col-group {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3, .span_1_of_4  { width: 100%; }
}

@media(max-width:755px) {
    
#id_90c64a84-801a-57db-9406-5549ec592cf4 .section__column-2, #id_90c64a84-801a-57db-9406-5549ec592cf4 .section__column-3 {
        display:none!important;
    }
}

@media(max-width:575px) {
    .featuredblocks-grid-c .featuredblock__content {
        display:block;
    }
}

#ple_column-7 > div.componentWith__container.gallery__container > div > div > div > div > div > div.bx-viewport {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 1097px !important;
}